body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #b935cb, #16b4cc);
    margin: 0;
    font-family: Arial, sans-serif;
}

.contact-form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.contact-form table {
    width: 100%;
}

.contact-form td {
    padding: 10px;
}

.contact-form label {
    color: #fff;
}

.contact-form input, .contact-form textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #ccc;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #f1f1f1;
}
