body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #f8f9fa;  
    color: #333;  
}  

header {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(36, 36, 35);
}  

header h1 {
    margin: 0;
    text-align: left;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

nav a {  
    color: white;  
    margin: 0 15px;  
    text-decoration: none;  
}  

.intro {  
    display: flex;
    align-items: center;
    padding: 20px;  
    background-color: rgb(203, 202, 202);
    margin: 0;  
}

.intro img {
    border-radius: 50%;
    margin-right: 20px;
}

.intro p {
    margin: 0;
    text-align: left;
}

.avatar {  
    border-radius: 50%;  
    width: 150px;  
    height: 150px;  
    margin-bottom: 20px;  
}  

h2 {  
    text-align: center;  
}  

.projects {  
    display: flex;  
    justify-content: center;  
    gap: 10px;  
    margin: 20px 0;  
    padding: 20px;
}  

.projects button {
    margin-right: 10px;
}

button {  
    padding: 10px 20px;  
    border: none;  
    border-radius: 5px;  
    background-color: #343a40;  
    color: white;  
    cursor: pointer;  
}  

button:hover {  
    background-color: #495057;  
}  

footer {  
    text-align: center;  
    padding: 20px;  
    background-color: rgb(187, 185, 184);  
}