body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
}

.status {
    color: #ff0000;
    font-weight: bold;
}

.client, .budget, .tasks {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.progress {
    margin-top: 20px;
}

.progress p {
    margin: 0;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    height: 10px;
    margin-top: 5px;
}

.progress-fill {
    background-color: #4CAF50;
    height: 100%;
}

.user-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.user-images img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #fff;
}

.user-images img:nth-child(1) {
    left: 0;
    top:-29px;
    z-index: 2;
}

.user-images img:nth-child(2) {
    left: 20px;
    top:-29px;
    z-index: 11;
}

.fas {
    margin-right: 5px;
}
