
.large-text {
    font-size: 50px;
}

.description {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    background-color: blue;

}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: blue;
}

tr:nth-child(even) {
    background-color: #c8b1b1;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
